@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --tp-base-background-color: hsla(230, 7%, 17%, 1.00);
        --tp-base-shadow-color: hsla(230, 7%, 25%, 0.10);
        --tp-button-background-color: hsla(230, 7%, 70%, 1.00);
        --tp-button-background-color-active: hsla(230, 7%, 85%, 1);
        --tp-button-background-color-focus: hsla(230, 7%, 80%, 1);
        --tp-button-background-color-hover: hsla(230, 7%, 75%, 1);
        --tp-button-foreground-color: hsla(230, 7%, 17%, 0.8);
        --tp-container-background-color: hsla(230, 7%, 75%, 0.1);
        --tp-container-background-color-active: hsla(230, 7%, 75%, 0.25);
        --tp-container-background-color-focus: hsla(230, 7%, 75%, 0.2);
        --tp-container-background-color-hover: hsla(230, 7%, 75%, 0.15);
        --tp-container-foreground-color: hsla(230, 7%, 75%, 1);
        --tp-groove-foreground-color: hsla(230, 7%, 75%, 0.1);
        --tp-input-background-color: hsla(230, 7%, 75%, 0.1);
        --tp-input-background-color-active: hsla(230, 7%, 75%, 0.25);
        --tp-input-background-color-focus: hsla(230, 7%, 75%, 0.2);
        --tp-input-background-color-hover: hsla(230, 7%, 75%, 0.15);
        --tp-input-foreground-color: hsla(230, 7%, 75%, 1.00);
        --tp-label-foreground-color: hsla(230, 7%, 75%, 0.7);
        --tp-monitor-background-color: hsla(230, 7%, 0%, 0.2);
        --tp-monitor-foreground-color: hsla(230, 7%, 75%, 0.7);
    }
}